
@mixin h3font{
    @include fontFamilyWeight();
    color: #261B6C;
    font-size: 47px;
}
@mixin button{
    height: 50px;
    background-color: #B2904C;
    border: none;
    color: white;
}
@mixin shorterButtons{
    width: 140px;
}
@mixin longerButtons{
    width: 300px;
    @include mediaQuery(576px){
        width: 200px;
    }
}
@mixin widthHeight100{
    width: 100%;
    height: 100%;
}
@mixin landingPagePadding{
    padding: 60px 40px;
    @include mediaQuery(576px){
        padding: 60px 15px; 
    }
    @include mediaQuery(768px, 577px){
        padding: 45px 15px;
    }
    @include mediaQuery(1024px, 769px){
        padding: 60px 15px;
    }
}
@mixin bgImagesSizes{
    width: 316px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    margin-left: 20px;
    padding: 10px;
    font-size: 30px;
    @include mediaQuery(576px){
        margin-left: 0px;
    }
    @include mediaQuery(768px, 577px){
        margin-left: 0px;
    }
    @include mediaQuery(1024px, 769px){
        width: 430px;
        height: 330px;
        margin-left: 0px;
        font-size: 70px;
        @include fontFamilyWeight();
    }
}
@mixin factoryTourProp{
    padding: 90px 60px;
    @include mediaQuery(576px){
        padding: 40px 15px;
    }
    @include mediaQuery(768px, 577px){
        padding: 70px 15px;
    }
    @include mediaQuery(1024px, 769px){
        padding: 70px 15px;
    }
    .h3ptextContainer{
        @include widthHeight100();
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3{
            @include h3font();
            @include mediaQuery(576px){
             font-size: 32px;
            }
            @include mediaQuery(768px, 577px){
                font-size: 40px;
            }
         }
         p{
             width: 85%;
             @include mediaQuery(768px, 577px){
                width: 95%;
            }
         }
    }
}
@mixin kidsGames{
    padding: 50px 40px 50px 80px;
    border-radius: 10px;
    @include mediaQuery(576px){
        padding: 30px 20px 30px 20px;
    }
    @include mediaQuery(768px, 577px){
        padding: 30px 20px 30px 20px;
    }
    .h3ptextContainer{
        @include widthHeight100();
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        h4{
            font-size: 40px;
            @include fontFamilyWeight();
        }
        p{
            width: 78%;
            color: white;  
        }
        button{
            @include shorterButtons();
        }
    }
}
@mixin FirstImage{
    width: 100%;
    height: 90vh;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 30px 30px;
    h4{
        color: white;
        font-size: 40px;
        @include fontFamilyWeight();
    }
    i{
        font-size: 50px;
    }
}
@mixin tableRowStyle{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 12px 0px 16px 12px;
    background-color: rgb(247, 246, 231);
    margin-bottom: 20px;
}
@mixin modalStyle{
    position: fixed;
        background-color: white;
        z-index: 1000;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;      
        .modalContainer{
            width: 100%;
            z-index: 1000;
            position: fixed;
            padding: 50px 100px;
            @include mediaQuery(576px){
                padding: 20px 15px;
            }
            .xBttnContainer{
                display: flex;
                justify-content: end;
                #xBttn{
                    background-color: #261B6C;
                    color: whitesmoke;
                    font-weight: bold;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }   
            }
            h4{
                font-size: 30px;
                @include fontFamilyWeight();
                color: #261B6C;
                text-align: center;
                margin-bottom: 30px;
            }
            .columnHalf{
                width: 100%;
                input{
                    @include tableRowStyle();
                }
                select{
                @include tableRowStyle();
                }
            }
            #submitBttn{
                @include button();
                width: 100%;
                margin-top: 30px;
                font-weight: bold;
            }
        }
}
@mixin fontFamilyWeight{
    font-family:'regular';
    font-weight: bolder;
}
@mixin ipadProPadding{
    padding: 0px 15px;
}

@mixin mediaQuery($breakpoint...){
    @if length($breakpoint) == 1 {
        @media (max-width: nth($breakpoint, 1)){
            @content;
        }
    }
    @if length($breakpoint) == 2{
        @media (max-width: nth($breakpoint, 1)) and (min-width: nth($breakpoint, 2)){
            @content;
        }
    }
}

